/*! My variables (Start) */
/** root file */
:root {
  /** variables */
  --main-bgc: #21394f;
  --nav-bgc: #04070acc;
  --card-bgc: #04070aa1;
  --footer-bgc: #04070a;
  --main-color: #d3dce6;

  /* dimensions */
  --nav-height: 60px;
}
