/*! My variables (Start) */
/** root file */
:root {
  /** variables */
  --main-bgc: #21394f;
  --nav-bgc: #04070acc;
  --card-bgc: #04070aa1;
  --footer-bgc: hsl(210, 43%, 13%);
  --main-color: #d3dce6;
  --footer-color: #f0f1f1;

  /* dimensions */
  --nav-height: 60px;

  /* border colors */
  --pink: hsl(350, 89%, 74%);
  --green: hsl(120, 50%, 50%);
  --red: hsl(0, 50%, 50%);
  --orange: orange;
  --purple: hsl(271, 46%, 53%);
  --grey: hsl(0, 0%, 87%);
}
