//* variables
$footer-bgc: hsl(210, 43%, 13%);
$footer-color: hsl(180, 3%, 94%);
$purple: hsl(271, 46%, 53%);

//* footer
.footer {
  background: $footer-bgc;
  color: $footer-color;

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color: $footer-color;

    &:hover {
      color: hsl(210, 28%, 86%);
    }
  }

  .sections {
    margin-bottom: 20px;
  }

  .footerLinks {
    display: flex;
    font-weight: bold;
  }
  .footerLink {
    display: inline-block;
    margin-right: 10px;
  }

  // all links in footer
  a.paragraphLinks {
    color: $purple;

    &:hover {
      color: hsl(350deg, 89%, 74%);
    }
  }

  // social links in footer
  .socialLinks {
    display: flex;
    .icons {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 10px;
    }
  }

  .quote {
    max-width: 500px;
  }

  .copyright {
    small {
      display: flex;
      align-items: center;
      justify-content: center;
      .icons {
        margin: 0 3px;
      }
    }
  }
}
