.notFound {
  display: flex;

  .content {
    width: 55%;
    text-align: left;
    height: 1px;
    h1 {
      text-align: left;
    }
  }
  .image {
    width: 45%;
    img {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

@media screen and (max-width: 780px) {
  .notFound {
    flex-direction: column;
    .content {
      width: 100%;
      height: 100%;
    }
    .image {
      width: 100%;
    }
  }
}
